.hero {
  padding: 123px 0;
  background-color: #f5f9e3;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 600px;
}

.title {
  font-style: italic;
  font-weight: 400;
  font-size: 44px;
  margin-bottom: 50px;
}

.description {
  font-size: 24px;
  line-height: 175%;
}
